body {
    background-color: rgb(236,240,242);
}

#login_block {
	background-color: white;
	width: 45vw;
	height: 35vw;
	position: absolute;
	top: 30%;
	left: 28%;
}

#register {
	position: absolute;
	top: 110%;
	left: 0%;
	font-size: 1.3vw;	
}

#forgot_password {
	position: absolute;
	top: 110%;
	left: 123%;
	font-size: 1.3vw;
}

span {
	white-space: nowrap;
}

h1 {
	font-size: 2vw;
	text-align: center;
}
form {
	position: absolute;
	left: 5%;
	font-size: 2vw;
}

input {
	width: 165%;
}

p {
	font-size: 1.2vw;
}

input[type=submit] {
	font-size: 1.5vw;
	color: white;
	background-color: rgb(104,176,77);
	border-radius: 0.5vw;
	border-color: rgb(104,176,77);
}

input[type=submit]:hover {
	background-color: rgb(34,125,58);
	border-color: rgb(34,125,58);
	transition:.5s;
}

