/****************************************BELOW IS FOR TOP NAVBAR***************************/
.navbar {
	background-color:#43a9f8;
	position: fixed;
    top:-0.1vw;
    left: -5vw;
    height: 9.7vh;  /* keep this as 'vh' so it stays as big when shrunk down */
    width: 118.6vw; 
    margin-bottom: 2.8vw;
  	margin-right: -5vw;
	z-index:1;  
}
  
#integr8Logo {
	position: relative;
	top: -0.1vh;
	left:-3vw;
	height: 9.6vh;
	width: 37vh;
  }

/*below is class for Nav Buttons*/
.NavButton{ 
	/* Style for all navigation buttons -- */
	background-color: #4fb05e;
	border-radius: 0.5vw;
	position: fixed;
	left:-4vw;
	height: 6.6vh;
	font-size: 1.4vw;
	margin-top: 0.5vw;
	margin-left: 2.2vw;;
	margin-right:0vw;
}

#loginNavBar{
	position: fixed;
	top: 0.9vw;
	left: 91.2vw;
	font-size: 1.5vw;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	margin-left: 1.5vw;
	z-index:1;
}

#home { /*body id for Home Page --- CHANGE HEIGHT & WIDTH HERE TO CONTROL PAGE WIDTH OR HEIGHT */ 
	background-color: #fef0d5;
	position: relative;
	left: -10vw;
	height: 106vh;
	width: 100vw; /* CHANGE THIS HERE TO FIX THE WIDTH ISSUES */
  }

  #homePageBox{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
  	top: 12vh;
  	left: -6vw;
  	height: 15vw;
  	width: 100vw;
	background-color: #fef0d5;
	margin-top: -1vw;
	z-index: 0; /*MAKES ALL CONTENT UNDER NAVBAR SCROLL UDNERNEATH NAVBAR*/
  }

  #Line1{/* Are you a student going abroad? */
	position:relative;
	top: -1.4vw;
	left: 0vw;
	font-size: 2.7vw;
	color: green;
	text-align:center;
}

.top3HomePics{
	position:relative;
	height: 18vw;
}

#HomePic1{ 
	left: 7.3vw; 
	width: 28vw; 
}

#HomePic2{
	left: 7.3vw; 
	width: 13vw; 	
}

#HomePic3{
	left: 7.3vw; 
	width: 27vw; 
}

#Line2{ /* Sign up and Integr8 into your... */
	color: black;
	position:relative;
	top: -15vw;
	left: 77.5vw;
	width: 24vw;
	font-size: 2vw;
}

#signUpBtn{
	position: relative;
	background-color: #50b05e;
	top: -12vw;
	left: 82vw;
	height: 4vw;
	width: 11.5vw;
	border-radius: 2vw;
	font-size: 2vw;
	text-align: center;	
	line-height: 1.1em; /*this code aligns the text vertically */
}

#Line3{ /* Filter and find new friends... */
	color: black;
	position:relative;
	top: -6vw;
	left: 33.5vw;
	width: 44vw;
	font-size: 2vw;
	margin-top: 1.5vw;
}

.fourSmallerPics {/* style class for the 4 mid photos */
	position: relative;
	height: 13.3vw;
	width: 16.8vw;
	left: 5.4vw;
	margin-top: -3vw;
	margin-bottom: 1vh;
	margin-left: 4.5vw;
	padding-left: 0vw;
	margin-right: 0vw;
}

.fourSmallerButtons{
	background-color: #479e54;
	color: black;
	position: relative;
	height: 4.5vw;
	width: 10vw;
	left: 4.5vw;
	border-radius: 1.3vw;
	margin-top: 2vh;
	margin-bottom: 1vh;
	margin-left: 11.3vw;
	margin-right: 0vw;
	font-size: 1.5vw;
}

#FFline{/* "Find other exchange..."(paragraph) */
	background-color: #fef0d5;
	position:relative;
	top: 0vh;
	left: 11vw;
	width:17vw;
	font-size: 1.4vw;
	margin-top: 1vw;
	margin-left: 1.5vw;	
}
#FGline{
	background-color: #fef0d5;
	position:relative;
	top: -10.3vw; /*for some reason, this line (which is EXACTLY same as the one before it) goes way up when you put it to "0vh"*/
	width:17vw;
	left: 33vw;
	font-size: 1.4vw;
	margin-top: 2.5vw;
	margin-left: 1.5vw;
}
#FEline { /* "With your new friends..."(paragraph) */
	background-color: #fef0d5;
	position:relative;
	top: -20.6vw; /*for some reason, this line (which is EXACTLY same as the one before it) goes way up when you put it to "0vh"*/
	width:17vw;
	left:54vw;
	font-size: 1.4vw;
	margin-top: 2.5vw;
	margin-left: 1.5vw;
}
#FJline{
	background-color: #fef0d5;
	position:relative;
	top: -32.8vw; /*for some reason, this line (which is EXACTLY same as the one before it) goes way up when you put it to "0vh"*/
	width:16vw;
	left:76.5vw;
	font-size: 1.4vw;
	margin-top: 2.5vw;
	margin-left: 1.5vw;
}

#ogTitle{/* Vision Statement */
	background-color:#fef0d5;
	position:relative;
	top:-25vw;
	left:48vw;
	width:20vw;
	font-size: 2.2vw;
	}

#ogText{
	background-color:#fef0d5;	
	position:relative;
	left:17vw;
	width:70vw;
	text-align: center;
	font-size: 1.5vw;
	margin-top: -24vw;
}

#ifYouAreLine{
	position: relative;
	top: 15vw;
	left: 15vw;
	font-size: 2.2vw;
}

#whatareyou{
	background-color: #4db8ff;
	position: relative;
	border-radius: 1vw;
	top: 4vw;
	left: 35.7vw;
	height: 20vw;
	width: 33vw;
	font-size: 1.9vw;
 
}

#ThenThisisLine{
	position: relative;
	top: -8vw;
	left: 72vw;
	width: 22vw;
	font-size: 2.2vw;
}

#bottomNavbar{
	background-color: #43a9f8; 
	position: relative;
	top: 10vw; 
	left: -7vw; 
	width:136vw; 
	height: 28vh; /* keep it as "vh" so the bottom banner adapts to screen size */
	margin-bottom: -0.5vw;
	margin-right: -3vw;
}

#ContactUsLine{
	position: relative; 
	color: black;
	top: 2vw; 
	left: 14vw;
	font-size: 3.4vh;
}
#FBlogo{
	position: relative; 
	top: 5.2vw;
	left: 23vw; 
}
#linkedinLogo{
	position: relative;
	top: 5.2vw;
	left: 34vw;
}

/****************************************BELOW IS FOR TOP REGISTER EMAIL PAGE***************************/
#REpage{
	background-color: #fef0d5;
	position: relative;
	left: -10vw;
	height: 106vh;
	width: 100vw; /* CHANGE THIS HERE TO FIX THE WIDTH ISSUES */
}

#REbox{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
  	top: 12vh;
  	left: -6vw;
  	height: 15vw;
  	width: 100vw;
	background-color: #fef0d5;
	margin-top: -1vw;
	z-index: 0; /*MAKES ALL CONTENT UNDER NAVBAR SCROLL UDNERNEATH NAVBAR*/
  }

.registerForm {
	background-color: white;
	width: 50vw;
	height: 51vw;
	position: relative;
	top: 15px;
	left: 28%;
}

#registerTitle{
	position:relative;
	top:5%;
	left:15%;
	font-size: 2.2vw;
} 

.formTitles{ /*class to change traits of all titles*/
	position:relative;
	width:15vw;
	height:10vw;
	left:8%;
	font-size: 1.5vw;
}

.typingFields{ /*The 3 places to type in info*/
	position:relative;
	width:37vw;
	left:4vw;
	height:3.5vw;
	font-size: 2vw;
}

.lowerTitles{
	position:relative;
	width:35vw;
	height:10vw;
	left:8%;
	font-size: 1.5vw;
}
#emailAddress{
	top:4%;
}
#emailTypeField{
	top:-5.5vw; /* for some reason this must be in pixels instead of percent */
}


#passwordTitle{
	top:-7.5%;
}
#passTypeField{
	top:-11.4vw;
}


#redoPassTitle{
	top:-19%;
}
#redoPassField{
	top:-17.2vw;
}


#ServiceTermsline{
	position: relative;
	left:10.7%;
	top:-16vw;
	font-size: 1.1vw;
}

#createAccountButton{
	background-color: #4fb05e;
	border-radius: 0.5vw;
	position:relative;
	left:8.1%;
	top:-23vw;
	width:37vw;
	height:4vw;
	color: white;
	font-size: 2vw;
}

#loginLink {/* "Already have an account? Login" */
	position: relative;
	left: 9.3%;
	top: -20vw;
	font-size: 1.5vw;
}

input[type=submit] {
	font-size: 1.5vw;
	color: white;
	background-color: rgb(104,176,77);
	border-radius: 0.5vw;
	border-color: rgb(104,176,77);
}

input[type=submit]:hover {
	background-color: rgb(34,125,58);
	border-color: rgb(34,125,58);
	transition:.5s;
}


/****************************************BELOW IS FOR TOP LOGIN PAGE***************************/
#loginPage{
	background-color: #fef0d5;
	position: relative;
	left: -10vw;
	height: 106vh;
	width: 100vw; /* CHANGE THIS HERE TO FIX THE WIDTH ISSUES */
}

#loginBox{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
	background-color: #fef0d5;
	top: 10vh;
  	left: -6vw;
  	height: 133vh;
  	width: 140vw;
	margin-top: -1vw;
	z-index: 0; /*MAKES ALL CONTENT UNDER NAVBAR SCROLL UDNERNEATH NAVBAR*/
  }

  #loginPage {
    background-color: rgb(236,240,242);
    font-family: 'ABeeZee', sans-serif;
}

.loginForm {
	background-color: white;
	width: 45vw;
	height: 38vw;
	position: relative;
	top: 99%;
	left: 20%;
}

.loginFormTitles{ /*class to change traits of all titles*/
	position:relative;
	width:15vw;
	height:10vw;
	left:8%;
	font-size: 1.7vw;
}

#registerEmailLink {/* "Need to make an account? Sign up" */
	position: relative;
	top: -7.5vw;
	left: 28%;
	width: 35vw;
	font-size: 1.5vw;
}

#loginButton{
	background-color: #4fb05e;
	border-radius: 7px;
	position:relative;
	left:36.5%;
	top:-3vw;
	width:25.5%;
	height:9%;
	color: white;
	font-size: 2vw;
}

#loginEmailAddress{
	top:11%;
}

.loginTypingFields{ /*The 3 places to type in info*/
	position:relative;
	left:3.7vw;
	top:0vw;
	width:37.5vw;
	height:3.5vw;
	font-size: 2vw;
}
#loginEmailField{
	top:-2.7vw; /* for some reason this must be in pixels instead of percent */
}

#loginPassword{
	top:1.5%;
}

#loginPassField{
	top:-6.4vw;
}
/****************************************BELOW IS FOR SIGN UP 1st PAGE***************************/

#SignUp1page {
    background-color: #ffeecc;
    font-family: 'ABeeZee', sans-serif;
}

#signUp1Box{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
	background-color: #fef0d5;
	top: 10vh;
  	left: -13vw;
  	height: 133vh;
  	width: 140vw;
	margin-top: -1vw;
	z-index: 0; /*MAKES ALL CONTENT UNDER NAVBAR SCROLL UDNERNEATH NAVBAR*/
  }

.categoryButtons{
	position:relative;
	border-radius: 1vw;
	color: white;
	width:34vw;
	height:35vw;
}

/* Make anchor NavButtons not go purple when linked */
.categoryButtons > a, .categoryButtons > a:visited,
.categoryButtons> a:hover, .categoryButtons > a:focus, .categoryButtons > a:active { 
	text-decoration: none; color:white; 
}

#intExchangeStudent{
	background-color: #4fb05e;
	left:8vw;
	top:0vw;
}

#describeUrselfLine{
	position:relative; 
	left:40vw; 
	top:-2.5vw;
	font-size:2.8vw;
	width:25vw;
	text-align: center;
}

#mobileStudent{
	background-color: #0066ff;
	left:28vw;
	top:0vw;
}

#profAbroad{
	background-color: #b3003b;
	left:8vw;
	top: -1.6vw;
}

#bizorOrg{
	background-color: #663300;
	left: 28vw;
	top: -1.7vw;
}

/****************************************BELOW IS FOR SIGN UP 2nd PAGE***************************/

#SignUp2page{ /*body id for --- CHANGE HEIGHT & WIDTH HERE TO CONTROL PAGE WIDTH OR HEIGHT */ 
	background-color: #fef0d5;
	position: relative;
	left: 0vw;
	top:-55vw;
	height: 106vh;
	width: 100vw; /* CHANGE THIS HERE TO FIX THE WIDTH ISSUES */
  }

#signUp2Box{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
	top: 10vh;
	left: -11vw;
	height:15vw;
  	width: 100vw;
	margin-top: -1vw;
	z-index: 0; /*MAKES ALL CONTENT UNDER NAVBAR SCROLL UDNERNEATH NAVBAR*/
  }

#signUp2Title{
	position:relative;
	top: 55vw;
	left:25%;
	font-size: 3.6vh;
} 
/* "Basic Info" Form sheet */
.basicInfoForm {
	background-color: white;
	position: relative;
	width: 30vw;
	height: 50vw;
	top: 54vw;
	left: 10vw;
}

#basicInfoTitle{
	background-color: #4fb05e;
	width:13vw;
	height:3.4vw;
	color: white;
	font-size:1.8vw;
	text-align: center;
	line-height: 2em; /*this code aligns the text vertically */
}


.biFormTitles{ /*class to change traits of all titles*/
	position:relative;
	width:15vw;
	height:10vw;
	left:8%;
	font-size: 1.5vw;
}

.biTypingFields{ /* class for all Basic Info fields*/
	position:relative;
	width:22.5vw;
	height:3vw;
	left:0%;
	font-size: 1.6vw;
}

#firstNameTitle{
	top:3.7%;
}

#firstNameField{
	top:3%; 
}

#lastNameTitle{
	top:-2%;
}

#lastNameField{
	top:3%; 
}

#bdayTitle{
	top:-8%;
}

#genderTitle{
	top:-14%;
}

#maleButton{
	position:relative;
	top:-1.3vw;
	left:13%;
}

#maleTitle{
	position: relative;
	left:63%;
	top:-3vw;
	font-size: 1.3vw;
}

#femaleButton{
	position:relative;
	top:-2.5vw;
	left:49.5%;
}

#femaleTitle{
	position:relative; 
	left:63%;
	top:-4.2vw;
	font-size: 1.3vw;
}

#oGenderTitle{
	position: relative;
	top:-13vw;
	left:9%;
	font-size: 1.4vw;
}

#oGenderField{
	position:relative;
	top:0.4vw;
	left:0.7%; 
	width:59%; 
	height:2vw; 
	font-size: 1.6vw;
}

#langTitle{
	top:-11.4vw;
}

#langField{
	top:0%;
}

#writeBioTitle{
	top:-15.3vw;
}

#writeBioField{ /* class for all Basic Info fields*/
	position:relative;
	left:0%;
	width:23vw;
	height:6vw;
	top:3%;
	font-size: 1.3vw;
}

/* "Where are you from?"" Form sheet */

.whereRUfromForm {
	background-color: white;
	position: relative;
	width: 30vw;
	height: 50vw;
	top: 4vw;
	left: 50vw;
}

#whereAreYouFromTitle{
	background-color: #4fb05e;
	width:20vw;
	height:3.4vw;
	color: white;
	font-size: 1.8vw;
	text-align: center;
	line-height: 2em; /*this code aligns the text vertically */
}

.whereRUfromTitles{ /*class to change traits of all titles*/
	position:relative;
	width:15vw;
	height:10vw;
	left:8%;
	font-size: 1.5vw;
}

.whereRUfromFields{ /* class for all Basic Info fields*/
	position:relative;
	width:22.5vw;
	height:2.9vw;
	left:0%;
	font-size: 1.6vw;
}

#homeCUtitle{
	top:4%;
}

#homeCUfield{
	top:3%;
}

#proDegTitle{
	top:-1.5%;
}

#proDegField{
	top:3.2%;
}

#gradYearTitle{
	top:-7.8%;
}

#gradYearField{
	top:2.4%;
}

#professionTitle{
	top:-14%;
}

#professionField{
	top:3%;
}

#cityTitle{
	top:-20%;
}

#cityField{
	top:3%;
}

#countryTitle{
	top:-26.5%;
}

#countryField{
	top:4%;
}

#biLoginLink {/* "Already have an account? Login" */
	background-color: #479e54;
	position: relative;
	left: 34.5%;
	top: 7vw;
	width: 26vw;
	height: 3.5vw;
	border-radius: 2vw;
	font-size: 1.6vw;
	line-height: 0em; /* align texts vertically */
}

/* "Where are you going?" Form sheet */
.whereRUgoingForm {
	background-color: white;
	position: relative;
	width: 30vw;
	height: 41vw;
	top: 9.5vw;
	left: 30.5vw;
}

#whereAreYouGoingTitle{
	background-color: #4fb05e;
	width:20vw;
	height:3.4vw;
	color: white;
	font-size: 1.8vw;
	text-align: center;
	line-height: 2em; /*this code aligns the text vertically */
}

.whereRUgoingTitles{ /*class to change traits of all titles*/
	position:relative;
	width:15vw;
	height:10vw;
	left:8%;
	font-size: 1.5vw;
}

.whereRUgoingFields{ /* class for fields*/
	position:relative;
	width:22.5vw;
	height:2.9vw;
	left:8%;
	font-size: 1.6vw;
}

#hostCUtitle{
	top:3.5%;
}

#hostCUfield{
	top:-6vw;
}

#whenArriveTitle{
	top:-11.6%;
}

#whenArriveField{
	top:-12.5vw;
}

#whenLeaveTitle{
	top:-27%;
}

#whenLeaveField{
	top:-18.8vw;
}

#hostCityTitle{
	top:-41.3%;
}

#hostCityField{
	top:-24.8vw;
}

#hostCountryTitle{
	top:-56%;
}

#hostCountryField{
	top:-31vw;
}

#Signup2bottomNavbar{
	background-color: #43a9f8; 
	position: relative;
	top: 21vw; 
	left: -9vw; 
	width:136vw; 
	height: 30.8vh; /* keep it as "vh" so the bottom banner adapts to screen size */
	margin-bottom: -7.5vw;
	margin-right: -3vw;
}