h1{font-family: 'Lato', sans-serif;
}
h2{font-family: 'Lato', sans-serif;
}
h3{font-family: 'Lato', sans-serif;
}
h4{font-family: 'Lato', sans-serif;
}


#NavbarProfile{background-color: #3c8447;
	position:relative;
	width: 50px;
	height: 50px;
	left: 135px;
	bottom:75px;}

#NavbarHome{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 86px;
	height: 45px;
	left: 153px;
	bottom: 84px;
	font-size: 14px;
}

#NavbarFindFriends{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position:relative;
	width:138px;
	height: 45px;
	left:172px;
	bottom:84px;
	font-size: 14px;}

#NavbarGroups{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 93px;
	height: 45px;
	left: 191px;
	bottom: 84px;
	font-size: 14px;
}

#NavbarArticlesInfo{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 130px;
	height: 45px;
	left: 210px;
	bottom: 84px;
	font-size: 14px;
	}

#NavbarEvents{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 90px;
	height: 45px;
	left: 229px;
	bottom: 84px;
	font-size: 14px;
	}

#NavbarJobs{background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 90px;
	height: 45px;
	left: 248px;
	bottom: 84px;
	font-size: 14px;
	}