/****************************************BELOW IS FOR TOP NAVBAR***************************/
.navbar {
	background-color:#43a9f8;
    margin-bottom: 5vh;
    top:-0.2vh;
    left: -1vw;
    height: 9vh;
    width: 100vw;
  }
  
#integr8Logo {
	position: relative;
	top: -0.2vh;
	left: -1vw;
	height: 5vw;
	width: 14.5vw;
  }

/*below is the button and the profile image for Profile section*/
#NavbarProfile{
	height: 3.5vw; /*KEEP SO IT'S BOTH AS 'VW' -- IT SEEMS TO SHRINK BETTER */
	width: 3.5vw;
}
#ProfileLogo{
	position: relative;
	top: -0.5vh;
	left: -0.8vw;
	height: 3.6vw;
	width: 3.8vw;
}

/*below is class for Nav Buttons*/
.NavButton{ 
	/* Style for all navigation buttons -- */
	background-color: #4fb05e;
	border-radius: 7px;
	position: relative;
	height: 6.5vh;
	font-size: 1.4vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1.5vw;
}

#loginNavBar{
	position: relative;
	top: 1vh;
	left: 5.2vw;
	font-size: 1.5vw;
}

#searchBar{
	position: relative;
	top: 2.2vh;
	left: 6.5vw; 
	width: 12vw; 
	height: 4vh;
	border-radius:5px; 
	border:none; 
	font-size:15px; 
	text-align:center;
}

#newhome { /*body id for Home Page --- CHANGE HEIGHT & WIDTH HERE TO CONTROL PAGE WIDTH OR HEIGHT */ 
	background-color: #fef0d5;
	position: relative;
	left: -8vw;
	height: 120vh;
	width: 97vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  #homePageBox{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
  	top: -5vh;
  	left: -1vw;
  	height: 30vh;
  	width: 102.5vw;
	background-color: #fef0d5;
  }

  #Line1{/* Are you a student going abroad? */
	position:relative;
	top: -3vh;
	font-size: xx-large;
	color: green;
	text-align:center;
}

.top3HomePics{
	position:relative; 
	height: 18vw;
}

#HomePic1{ 
	left: 0.3vw; 
	width: 28vw; 
}

#HomePic2{
	left: 0.3vw; 
	width: 13vw; 	
}

#HomePic3{
	left: 0.3vw; 
	width: 27vw; 
}

#Line2{ /* Sign up and Integr8 into your... */
	color: black;
	position:relative;
	top: -15vw;
	left: 72vw;
	width: 24vw;
	font-size: 2vw;
}

#signUpBtn{
	position: relative;
	background-color: #50b05e;
	top: -12vw;
	left: 78vw;
	height: 4vw;
	width: 11.5vw;
	border-radius: 2vw;
	font-size: 2vw;
	text-align: center;	
	line-height: 1.1em; /*this code aligns the text vertically */

}

#Line3{ /* Sign up and Integr8 into your... */
	color: black;
	position:relative;
	top: -10vh;
	left: 30vw;
	width: 44vw;
	font-size: 2vw;
}

.fourSmallerPics {/* style class for the 4 mid photos */
	position: relative;
	height: 12.1vw;
	width: 15.3vw;
	left: -5vw;
	margin-top: -4vh;
	margin-bottom: 1vh;
	margin-left: 8vw;
	margin-right: 0vw;
}

.fourSmallerButtons{
	background-color: #479e54;
	color: black;
	position: relative;
	height: 8vh;
	width: 10vw;
	left: -7.9vw;
	border-radius: 1.3vw;
	margin-top: 2vh;
	margin-bottom: 1vh;
	margin-left: 13.3vw;
	margin-right: 0vw;
	font-size: 1.5vw;
}

