/****************************************BELOW IS FOR TOP NAVBAR***************************/
.navbar {
	background-color:#43a9f8;
    margin-bottom: 2.8vw;
    top:-0.1vw;
    left: -1vw;
    height: 9.7vh;  /* keep this as 'vh' so it stays as big when shrunk down */
    width: 101vw;
  }
  
#integr8Logo {
	position: relative;
	top: -0.1vh;
	left: -1vw;
	height: 5vw;
	width: 14.5vw;
  }

/*below is class for Nav Buttons*/
.NavButton{ 
	/* Style for all navigation buttons -- */
	background-color: #4fb05e;
	border-radius: 0.5vw;
	position: fixed;
	height: 3.5vw;
	font-size: 1.4vw;
	margin-top: 0.5vw;
	margin-bottom: 1vw;
	margin-left: 1.5vw;
}

#loginNavBar{
	position: fixed;
	top: 0.6vw;
	left: 78vw;
	font-size: 1.6vw;
}

#searchBar{
	position: fixed;
	top: 2.2vh;
	left: 84.5vw; 
	width: 12vw; 
	height: 2.5vw;
	border-radius:5px; 
	border:none; 
	font-size:1.3vw; 
	text-align:center;
}

#newhome { /*body id for Home Page --- CHANGE HEIGHT & WIDTH HERE TO CONTROL PAGE WIDTH OR HEIGHT */ 
	background-color: #fef0d5;
	position: relative;
	left: -8vw;
	height: 120vh;
	width: 97vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  #homePageBox{ /* CONTAINER FOR EVERYTHING ON HOME PAGE (UNDER THE NAVBAR)*/
	position: relative;
  	top: -5vh;
  	left: -1vw;
  	height: 30vh;
  	width: 101vw;
	background-color: #fef0d5;
  }

  #Line1{/* Are you a student going abroad? */
	position:relative;
	top: -1.4vw;
	left: -8vw;
	font-size: 2.2vw;
	color: green;
	text-align:center;
}

.top3HomePics{
	position:relative; 
	height: 18vw;
}

#HomePic1{ 
	left: 0.3vw; 
	width: 28vw; 
}

#HomePic2{
	left: 0.3vw; 
	width: 13vw; 	
}

#HomePic3{
	left: 0.3vw; 
	width: 27vw; 
}

#Line2{ /* Sign up and Integr8 into your... */
	color: black;
	position:relative;
	top: -15vw;
	left: 72vw;
	width: 24vw;
	font-size: 2vw;
}

#signUpBtn{
	position: relative;
	background-color: #50b05e;
	top: -12vw;
	left: 78vw;
	height: 4vw;
	width: 11.5vw;
	border-radius: 2vw;
	font-size: 2vw;
	text-align: center;	
	line-height: 1.1em; /*this code aligns the text vertically */

}

#Line3{ /* Filter and find new friends... */
	color: black;
	position:relative;
	top: -6vw;
	left: 30vw;
	width: 44vw;
	font-size: 2vw;
}

.fourSmallerPics {/* style class for the 4 mid photos */
	position: relative;
	height: 12.1vw;
	width: 15.3vw;
	left: -6.9vw;
	margin-top: -3.5vh;
	margin-bottom: 1vh;
	margin-left: 7vw;
	padding-left: 0vw;
	margin-right: 0vw;
}

.fourSmallerButtons{
	background-color: #479e54;
	color: black;
	position: relative;
	height: 4.5vw;
	width: 10vw;
	left: -9.6vw;
	border-radius: 1.3vw;
	margin-top: 2vh;
	margin-bottom: 1vh;
	margin-left: 12.3vw;
	margin-right: 0vw;
	font-size: 1.5vw;
}

