body {
    background-image: url("https://images5.alphacoders.com/437/437716.jpg");
	background-size: cover;
	background-repeat: repeat;
}

#white_transparent {
	position: absolute;
	left: 15%;
	top: 6.2%;
	width:70%;
	height: 95.0%;
	background-color: white;
	opacity: 0.6;
}

.nav-text {
	font-size: 1.1vw;
}

.nav-text:hover {
	background-color: rgb(104,176,77);
}

.hap {
	font-size: 1.7vw;
	color: rgb(6,21,81);
}

#active {
	background-color: rgb(104,176,77);
}


#login {
	position: relative;
	right: -5px;
}

.circle1 {
	position: absolute;
	top: 30%;
	left: 18%;
	height: 25vw;
	width: 25vw;
	background-color: rgb(28,138,67);
	border-radius: 50%;
	transition: 0.5s;

}

#text1 {
	position: absolute;
	top: 35%;
	left: 22%;
	font-size: 2.5vw;
	text-align: center;
	color: white;
}

.circle1:hover {
	background-color: rgb(237,69,69);
	transition: 0.5s;
}

.circle2 {
	position: absolute;
	top: 30%;
	left: 57%;
	height: 25vw;
	width: 25vw;
	background-color: rgb(55,204,95);
	border-radius: 50%;
	transition: 0.5s;
}

#text2 {
	position: absolute;
	top: 35%;
	left: 22%;
	font-size: 2.5vw;
	text-align: center;
}

.circle2:hover {
	background-color: rgb(237,69,69);
	transition: 0.5s;
}

#head1 {
	position: absolute;
	top: 20%;
	left: 18%;
	font-size: 2.2vw;
}

#head2 {
	position: absolute;
	top: 20%;
	left: 55%;
	font-size: 2.2vw;
}

#button1 {
	background-color: rgb(104,176,77);
	border-radius: 3vw;
	color: white;
	padding: 1vw 2vw 1vw 2vw;
	border-color: rgb(104,176,77);
	font-size: 1.5vw;
	position: absolute;
	top: 50%;
	left: 45.5%;
}




