h1{font-family: 'Lato', sans-serif;
}
h2{font-family: 'Lato', sans-serif;
}
h3{font-family: 'Lato', sans-serif;
}
h4{font-family: 'Lato', sans-serif;
}

/* Make anchor (a) not go purple */
.NavButton > a, .NavButton > a:visited,
.NavButton > a:hover, .NavButton > a:focus, .NavButton > a:active { 
	text-decoration: none; color:white; 
}

/* the "." in "NavButton" below is used for a whole class, 
while hashtag is used for individual IDs */

.NavButton { 
	/* Style for all navigation buttons --in HTML code it links each button 
	below to this class */
	background-color: #4fb05e;
	color: white;
	border-radius: 7px;
	position:relative;
	font-size: 14px;
}

/* this code below is a cleaner way to add interactive javaScript 
functionality via CSS instead. Since it references the above class 
name "NavButton", it automatically applies this to all the buttons below */


.NavButton:hover { 
	/* whenev mouse hovers over button, background color changes */
	background-color: #3c8447;
}

#wrapper {/* This div controls the width + length of the webpage */
            width: 960px;
            height: 920px;
            padding-top: 0px;
            }

#NavbarProfile{
	width: 50px;
	height: 50px;
	left: 135px;
	bottom:75px;
}

#NavbarHome{
	width: 86px;
	height: 45px;
	left: 153px;
	bottom: 84px;
}

#NavbarFindFriends{
	width:138px;
	height: 45px;
	left:172px;
	bottom:84px;
}

#NavbarGroups{
	width: 93px;
	height: 45px;
	left: 191px;
	bottom: 84px;
}

#NavbarArticlesInfo{
	width: 130px;
	height: 45px;
	left: 210px;
	bottom: 84px;
}

#NavbarEvents{
	width: 90px;
	height: 45px;
	left: 229px;
	bottom: 84px;
}

#NavbarJobs{
	width: 90px;
	height: 45px;
	left: 248px;
	bottom: 84px;
}

#Line1{ /* Are you a student going abroad? */
	background-color: #ffeecc;
	color: green;
	width:850px;
	position: relative;
	left:220px;
	bottom:0px;}

#Line2{ /* Sign up and Integr8 into your new surroundings */
	background-color: #ffeecc;
	width: 300px;
	position: relative;
	left:1030px; 
	bottom: 267px;
	font-size: 19px;}

#Line3{/* Filter and find new friends, jobs and more */
	background-color: #ffeecc;
	width: 900px;
	position: relative;
	left: 445px;
	bottom: 45px;
	font-size: 19px;}

#button1{/* Sign up! (on right side) */
	background-color: #479e54;
	border-radius: 39px;
	position: relative;
	width: 160px;
	height:60px;
	left: 1088px;
	bottom: 412px;
	font-size: 13px;
	line-height:0px;
}

#button2{/* Find Friends */
	background-color: #479e54;
	border-radius: 20px;
	position: relative;
	width: 150px;
	left:-303px;
	bottom: -42px;
}

#Line4{/* "Wherever you travel to..."(paragraph) */
	background-color: #ffeecc;
	position:relative;
	width:240px;
	left:53px;
	bottom: -46px;}

#button3{/* Find Groups */
	background-color: #479e54;
	border-radius: 20px;
	position: relative;
	width: 150px;
	left:221px;
	bottom:303px;}

#Line5{/* "After you sign up..."(paragraph) */
	background-color: #ffeecc;
	position:relative;
	width:240px;
	left:413px;
	bottom:299px;}

#button4{/* Find Events */
	background-color: #479e54;
	border-radius: 20px;
	position: relative;
	width: 150px;
	left: 582px;
	bottom: 648px;}

#Line6{/* "With your new friends..."(paragraph) */
	background-color: #ffeecc;
	position: relative;
	width: 240px;
	left:770px;
	bottom: 645px;}

#button5{/* Find Jobs */
	background-color: #479e54;
	border-radius: 20px;
	position: relative;
	width: 150px;
	left: 940px;
	bottom: 987px;}

#Line7{/* "Land a job specifically..."(paragraph) */
	background-color: #ffeecc;
	position:relative;
	width: 240px;
	left:1130px;
	bottom: 990px;}

#vsTitle{/* Vision Statement */
	background-color:#ffeecc;
	position:relative;
	width:300px;
	left:578px;
	bottom: 870px;
	}

#vsText{
	background-color:#ffeecc;	
	position:relative;
	width:950px;
	left:210px;
	bottom:880px;
	text-align: center;
	font-size: 23px;}

#whatareyou{
	background-color: #4db8ff;
	border-radius:10px;
	width:400px;
	position:relative;
	left:391px;
	bottom:840px;
	font-size: 23px;
}