body {
    background-image: url("https://images5.alphacoders.com/437/437716.jpg");
	background-size: cover;
	background-repeat: repeat;
}
#transparent_div {
	position: absolute;
	left: 0px;
	width: 10000px;
	height: 833px;
	background-color: rgb(6,21,81);
	opacity: 0.7;
}

#integr8_div {
	width: 250px;
	height: 80px;
	background-color: rgb(242,247,255);
	position: absolute;
	top: 0px;
	left: 0px;
}

#integre8 {
	font-family: Arial;
	text-align: right;
	font-size: 2.5vw;
	color: rgb(6,21,81);
}

#navdiv {
	width: 10000px;
	height: 80px;
	background-color: rgb(6,21,81);
	position: absolute;
	top: 0px;
	left: 250px;
}

nav {
	position: absolute;
	left: -30px;	
}

ul {
	list-style-type: none;
}

li {
	float: left;
	background-color: rgb(104,176,77);
}

.navga {
	white-space: nowrap;
	font-size: 1.5vw;
	color: white;
	display: block;
	padding: 10px 60px 10px 60px;
    text-decoration: none;
}

.navga:hover {
	background-color: rgb(34,125,58);
}

#home {
	background-color: rgb(34,125,58);
}

#login {
    border-radius: 5px;
	white-space: nowrap;
	background-color: rgb(104,176,77);
	font-size: 2vw;
	color: white;
	display: block;
	padding: 15px;
    text-decoration: none;
	position: absolute;
	left: 700px;
	top: 10px;
	
}

#login:hover {
	background-color: rgb(171,5,53);
}

input {
    border-radius: 5px;
	position: absolute;
	top: 40px;
	left: 780px;
	height: 20px;
}

#intro_head {
	font-family: Arial;
	position: absolute;
	top: 150px;
	left: 300px;
	font-size: 3vw;
	color: white;
}

#intro2 {
	font-family: Arial;
	color: white;
	position: absolute;
	top: 380px;
	left: 200px;
	font-size: 2vw;
	text-align: center;
}

#intro3 {
	font-family: Arial;
	color: white;
	position: absolute;
	top: 380px;
	left: 900px;
	font-size: 2vw;
	text-align: center;
}

#intro4 {
	font-family: Arial;
	color: white;
	position: absolute;
	top: 500px;
	left: 550px;
	font-size: 3vw;
	text-align: center;
}

#button1 {
	background-color: rgb(104,176,77);
	border-radius: 30px;
	color: white;
	padding: 20px;
	border-color: rgb(104,176,77);
	font-size: 30px;
	position: absolute;
	top: 650px;
	left: 440px;
}

#button1:hover {
	background-color: white;
	border-color: white;
	color: rgb(6,21,81);
}

.arrow1:after {
  color: rgb(34,125,58);
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
}
.arrow1 {
  background-color: rgb(34,125,58);
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: absolute;
  left: 400px;
  top: 300px;
  transform: rotate(150deg);

}
.arrow1text {
  color: white;
  font-weight: bold;
  padding: 20px 20px 0px 20px;
  font-family: Arial;
  font-size: 25px;
  display: inline-block;
  transform: rotate(180deg);

}

.arrow1:hover {
	background-color: rgb(171,5,53);
}

.arrow1:hover:after {
	color: rgb(171,5,53);
} 

.arrow2:after {
  color: rgb(34,125,58);
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
}
.arrow2 {
  background-color: rgb(34,125,58);
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: absolute;
  left: 750px;
  top: 300px;
  transform: rotate(30deg);
}
.arrow2text {
  color: white;
  font-weight: bold;
  padding: 20px;
  font-family: Arial;
  font-size: 30px;
}


.arrow2:hover {
	background-color: rgb(171,5,53);
}

.arrow2:hover:after {
	color: rgb(171,5,53);
} 







