body {
    background-image: url("https://images5.alphacoders.com/437/437716.jpg");
	background-size: cover;
	background-repeat: repeat;
}

#transparent_div {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgb(6,21,81);
	opacity: 0.7;
}

.nav-text {
	font-size: 1.1vw;
}

.nav-text:hover {
	background-color: rgb(104,176,77);
}

.hap {
	font-size: 1.7vw;
	color: rgb(6,21,81);
}

#active {
	background-color: rgb(104,176,77);
}


#login {
	position: relative;
	right: -5px;
}

#intro_head {
	font-family: Arial;
	position: absolute;
	top: 15%;
	left: 28%;
	font-size: 2.5vw;
	color: white;
	text-align: center;
}

#intro2 {
	font-family: Arial;
	color: white;
	position: absolute;
	top: 35%;
	left: 18%;
	font-size: 1.5vw;
	text-align: center;
}

#intro3 {
	font-family: Arial;
	color: white;
	position: absolute;
	top: 35%;
	left: 66%;
	font-size: 2vw;
	text-align: center;
}

#button1 {
	background-color: rgb(104,176,77);
	border-radius: 30px;
	color: white;
	padding: 5px 30px 5px 30px;
	border-color: rgb(104,176,77);
	font-size: 1.5vw;
	position: absolute;
	top: 50%;
	left: 43%;
}

#button2 {
	background-color: rgb(104,176,77);
	border-radius: 30px;
	color: white;
	padding: 10px;
	border-color: rgb(104,176,77);
	font-size: 1.5vw;
	position: absolute;
	top: 77%;
	left: 46.5%;
}

#button3 {
	background-color: rgb(104,176,77);
	border-radius: 30px;
	color: white;
	padding: 10px;
	border-color: rgb(104,176,77);
	font-size: 1.5vw;
	position: absolute;
	top: 85%;
	left: 40%;
}

#button1:hover {
	background-color: white;
	border-color: white;
	color: rgb(6,21,81);
}

#button2:hover {
	background-color: white;
	border-color: white;
	color: rgb(6,21,81);
}

#button3:hover {
	background-color: white;
	border-color: white;
	color: rgb(6,21,81);
}

.arrow1:after {
  color: rgb(34,125,58);
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
}
.arrow1 {
  background-color: rgb(34,125,58);
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 31%;
  transform: rotate(150deg);

}
.arrow1text {
  color: white;
  font-weight: bold;
  padding: 20px 20px 0px 20px;
  font-family: Arial;
  font-size: 1.5vw;
  display: inline-block;
  transform: rotate(180deg);

}

.arrow1:hover {
	background-color: rgb(171,5,53);
}

.arrow1:hover:after {
	color: rgb(171,5,53);
} 

.arrow2:after {
  color: rgb(34,125,58);
  border-left: 20px solid;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
}
.arrow2 {
  background-color: rgb(34,125,58);
  height: 40px;
  line-height: 40px;
  display: inline-block;
  position: absolute;
  top: 28%;
  left: 58%;
  transform: rotate(30deg);
}
.arrow2text {
  color: white;
  font-weight: bold;
  padding: 20px;
  font-family: Arial;
  font-size: 1.5vw;
}


.arrow2:hover {
	background-color: rgb(171,5,53);
}

.arrow2:hover:after {
	color: rgb(171,5,53);
} 



